/**
 * @name NotoColorEmoji Import
 * @description Imports NotoColorEmoji from a local path. Part of the BetterDiscordFont Suite.
 * @author Lopolin
 * @version 1.0
 * @authorId 629692905480650763
 * @source https://github.com/Lopolin-LP/custom-discord-themes/better-discord-font/
 * @website https://lopolin-lp.github.io/
 * @invite https://discord.gg/pduA47hxx7
 */
@font-face {
    font-family:NotoColorEmoji;
    font-style:normal;
    font-weight:400;
    src:url(./NotoColorEmoji-Regular.ttf) format("truetype")
}
