/**
 * @name Condensed Chat Icons | Source
 * @description So many plugins put their silly little icon in this already dense spot. On a 4:3 monitor that is straight up hell!
 * @author Lopolin
 * @version 1.0
 * @authorId 629692905480650763
 * @source https://github.com/Lopolin-LP/custom-discord-themes/condensed-chat-icons/
 * @website https://lopolin-lp.github.io/
 * @invite https://discord.gg/pduA47hxx7
*/

/* customize your values here!! */
.channelTextArea__648e5 {
    ---min-width-of-text-area: var(--min-width-of-text-area, 60%); /* default is 60% */
}

/* real css, do not touch. */
.channelTextArea__648e5 .buttons__7ecff {
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: visible;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 0;
    height: fit-content; /* also any percentage number will work; do not ask how on earth this makes sense. auto doesn't work cuz it screws over some things. */
    max-width: 100%;
    min-width: var(--primary-size-icons);
    --primary-size-icons: var(--custom-channel-textarea-text-area-height);
    flex-grow: 1;
}
.channelTextArea__648e5 .buttons__7ecff::-webkit-scrollbar {
    display: none;
}
.channelTextArea__648e5 .textArea_a86690 {
    min-width: var(---min-width-of-text-area, 60%);
    flex-basis: content;
}
.channelTextArea__648e5 .buttons__7ecff > * {
    width: var(--primary-size-icons);
    height: var(--primary-size-icons);
    min-width: var(--primary-size-icons);
    min-height: var(--primary-size-icons);
    justify-content: center;
}
